<table>
        <thead>
          <tr>
              <th>Test Id</th>
              <th>Test Name</th>
              <th>Min Age</th>
              <th>Max Age</th>
              <th>Sex</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <% @normal_ranges.each do |nr| %>
           <% @normal_range = nr %>
           <%= render :partial => "show" %>
          <% end %>
        </tbody>
</table>
