<!-- expects the name of the parent object in singular, and downcase, eg: report, to use in the input field name. -->
<div class="card">
	<div class="card-content">
		<div class="card-title">
			Add Statuses
		</div>
		<%= f.text_field :status_names , :data => {:autocomplete_type => "statuses", :multiple => true, :multiple_element_name => "#{parent_object_name}[status_ids][]"}, :autocomplete => "off" %>
		<%= f.label :status_names %>
		<!-- this input is added to serve as an empty input -->
		<input type="hidden" name="<%= parent_object_name %>[status_ids][]" />
		<%= add_multiple_items(statuses,"#{parent_object_name}['status_ids'][]").html_safe %>
	</div>
</div>