<div class="card">
  <div class="card-content">
    <div class="card-title">
    </div>
      <table>
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Reports</th>
                    <th>Options</th>
                </tr>
              </thead>

              <tbody>
                <% @statuses.each do |nr| %>
              	 <% @status = nr %>
                 <%= render :partial => "statuses/show" %>
                <% end %>
              </tbody>
      </table>
  </div>
</div>
<!-- this page has to allow us to add statuses -->
<!-- and also select levels where we can add reports -->
<!-- also modify the priorities of the statuses -->