<div style="margin-left: 10px;">
<%= link_to "Edit", edit_status_path(@status.id.to_s) %>
</div>

<div>
	Insert Status Above
</div>

<div>
	Insert Status Below
</div>

<div>
	Move Up in Priority
</div>

<div>
	Move Down in Priority
</div>
