<tr>
	<td><%= link_to @status.name, status_path(@status.id.to_s) %></td>
	<td><%= @status.priority %></td>
    <td><% @status.parents.each do |object| %>
    		<%= link_to object.name, main_app.send(object.class.name.underscore.downcase + "_path",object.id.to_s) %>	
    	<% end %>
    </td>
	<td><%= render :partial => "/statuses/options" %></td>
</tr>
