<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Applicable to Objects</th>
              <!-- and we can see it sorted by priority inside the report -->
              <!-- all applicable statuses are seen -->
              <!-- so inside report we have add status -->
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "show" %>
        </tbody>
</table>
