<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Priority</th>
              <th>Belongs To</th>
              <th>Report</th>
              <th>Item</th>
              <th>Item Group</th>
              <th>Order</th>
              <th>Patient</th>
              <th>Info</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "show" %>
        </tbody>
</table>
