<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Priority</th>
              <th>Parent Objects</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "show", locals: {status: @status} %>
        </tbody>
</table>

<div id="status_details_<%= @status.id.to_s %>">
  <%= render :partial => "/statuses/details", locals: {status: @status} %>
</div>

<%= render :partial => "statuses/template_reports_modal" %>