<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Priority</th>
              <th>Parent Objects</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "show" %>
        </tbody>
</table>

<%= render :partial => "/statuses/details" %>