<div class="row" style="margin-bottom:1.4rem; margin-top:1.4rem">
	<a class='dropdown-trigger' href='#' data-target='create_dropdown'>Options</a>
    <ul id='create_dropdown' class='dropdown-content'>  
      <li><%= link_to "Create Organization", new_organization_path %></li>
    </ul>
</div>
<div class="row" style="margin-bottom:1.4rem; margin-top:1.4rem">
	<ul class="collection with-header" id="search_collection">
		<li class="collection-header" id="search_title">
			<h4>
				<div class="input-field">
					<input id="search" type="search" placeholder="Search" required>
					<i class="material-icons">close</i>
				</div>
			</h4>
		</li>
	</ul>
</div>