<% tests_array = [] %>
<% if defined? :tests %>
  <% tests_array = tests %>
<% else %>
  <% tests_array = @tests %>
<% end %>
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>LIS Code</th>
        <th>Description</th>
        <th>Ready For Reporting</th>
        <th>Verified</th>
        <th>Result Type</th>
        <th>Result Raw</th>
        <th>Result Text</th>
        <th>Result Numeric</th>
        <th>Ranges</th>
        <th>References</th>
        <th>Options</th>
    </tr>
  </thead>

  <tbody>
  	<% tests_array.each do |test| %>
  	<% @test = test %>
  	<%= render :partial => "/diagnostics/tests/show" %>
  	<% end %>
  </tbody>
</table>
