<tr>
	<td><%= @rate.rate %></td>
	<td><%= @rate.for_organization_id %></td>
	<td><%= render :partial => "/business/rates/options" %></td>
</tr>

<!-- now for the paths -->
<!-- do we make seperate controllers ? -->
<!-- or what ? -->
<!-- only have to override the find clauses in those controllers -->