<table>
        <thead>
          <tr>
              <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <% @item_types.each do |nr| %>
        	 <% @item_type = nr %>
           <%= render :partial => "show" %>
          <% end %>
        </tbody>
</table>
