<span>
	<%= link_to "Delete", item_type_path(@item_type.id.to_s), :method => :delete %>
</span>


<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_item_type_path(@item_type.id.to_s) %>
</span>