<div class="definition">
	<input type="text" name="item_requirement[definitions][][report_id]" value='<%= definition["report_id"] %>' />
	<label>Report Id</label>

	<input type="text" name="item_requirement[definitions][][report_name]" />
	<label>Report Name</label>

	<input type="text" name="item_requirement[definitions][][amount]" />
	<label>Amount</label>


	<input type="text" name="item_requirement[definitions][][priority]" />
	<label>Priority</label>
</div>