<tr class="definition">

	
	<input type="hidden" name="item_requirement[definitions][][report_id]" class="report_id" value='<%= definition["report_id"] %>' />
	

	<td>
		<input type="text" name="item_requirement[definitions][][report_name]" value='<%= definition["report_name"] %>' class="report_name" data-autocomplete-type="reports" />
	</td>

	<td>
		<input type="text" name="item_requirement[definitions][][amount]" class="amount" value='<%= definition["amount"] %>' />
	</td>

	<td>
		<input type="text" name="item_requirement[definitions][][priority]" class="priority" value='<%= definition["priority"] %>' />
	</td>

</tr>