<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Type</th>
              <th>Amount</th>
              <th>Optional</th>
              <th>Priority</th>
              <th>Belongs to Reports</th>
          </tr>
        </thead>

        <tbody>
          <% @item_requirements.each do |nr| %>
        	 <% @item_requirement = nr %>
           <%= render :partial => "show" %>
          <% end %>
        </tbody>
</table>
