<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Type</th>
              <th>Amount</th>
              <th>Optional</th>
              <th>Priority</th>
              <th>Belongs to Reports</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "show" %>
        </tbody>
</table>
