<h6 class="grey-text">Disclaimer</h6>
<h6 class="grey-text">
	<ol>
		<li>The patient consents for all tests/investigations in the report.</li>
		<li>These reports are not intended for forensic/medicolegal purposes.</li>
		<li>All reports are subject to clinical correlation.
		</li> 
		<li>All reports consist of a unique QR code to ensure authenticity.</li>
		<li>Normal and Abnormal Ranges are only relevant to the given patient, based on age and gender.
		</li>
	</ol>
</h6>