<h5>Disclaimer</h5>
<h6>The patient consents for all tests/investigations in the report. These reports are not intended for forensic/medicolegal purposes. All reports are subject to clinical correlation. All reports consist of a unique QR code to ensure authenticity.</h6>