<h6 class="grey-text">Disclaimer</h6>
<h6 class="grey-text">
	<ol>
		<li>Payments once made are non-refundable</li>
		<li>Any payment related issues will be addressed within 7 working days</li>
		<li>Government taxes/cesses/charges/levies will be charged as applicable</li>
	</ol>
</h6>