<% if defined? @alert %>
	<div class="row yellow">
		<div class="col l1 m1 s1" style="padding-top:1rem;">
			<i class="material-icons" style="font-size: 60px;">warning</i>
		</div>
		<div class="col l10 m10 s10">
				<p><%= @alert %></p> 
		</div>
	</div>
<% end %>