 <ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Reports In 30 Minutes</div>
    <div class="collapsible-body"><span>No sample deterioration, fast reports mean the reported results are closest to the actual condition of the patient</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Daily Quality Control</div>
    <div class="collapsible-body"><span>Daily Bi-Level Quality Control, with Quality Control Charts provided with each reports.</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Gold Standard Methods for Critical Tests</div>
    <div class="collapsible-body"><span>From HPLC for Hba1c, to Nephelometry for RA, CRP, we use gold standard methods for all critical tests and parameters</span></div>
  </li>
</ul>
        