 <div class="row">
  <div class="col l12 m12 s12">
    <ul class="tabs">
      <li class="tab col l3 m3 s3"><a href="#test1">Pending Reports</a></li>
      <li class="tab col l3 m3 s3"><a class="active" href="#test2">Pending Orders</a></li>
      <li class="tab col l3 m3 s3"><a href="#test3">Pending Jobs</a></li>
      <li class="tab col l3 m3 s3"><a href="#test4">Inventory</a></li>
    </ul>
  </div>
  <div id="test1" class="col m12 l12 s12">Pending Reports</div>
  <div id="test2" class="col m12 l12 s12">Pending Orders</div>
  <div id="test3" class="col m12 l12 s12">Pending Jobs</div>
  <div id="test4" class="col m12 l12 s12">Inventory</div>
</div>