<table>
        <thead>
          <tr>
              <%= render :partial => "/inventory/item_transfers/table_headers" %>
          </tr>
        </thead>

        <tbody>
          <% @item_transfers.each do |cm| %>
           <% @item_transfer = cm %>
           <%= render :partial => "/inventory/item_transfers/show" %>
          <% end %>
        </tbody>
</table>
