<!-- remove range -->
<span>
	<%= link_to "Delete", inventory_item_transfer_path(@item_transfer.id.to_s), :method => :delete %>
</span>

<!-- edit range -->
<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_inventory_item_transfer_path(@item_transfer.id.to_s) %>
</span>