<table>
        <thead>
          <tr>
              <%= render :partial => "/inventory/item_transfers/table_headers" %>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "/inventory/item_transfers/show" %>
        </tbody>
</table>
