<!-- remove range -->
<span>
	<%= link_to "Delete", inventory_item_path(@item.id.to_s), :method => :delete %>
</span>
<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_inventory_item_path(@item.id.to_s) %>
</span>
<!-- location we have to get certain things at that location -->
<span style="margin-left: 10px;">
	<%= link_to "Go To Transaction", inventory_transaction_path(@item.transaction_id.to_s) %>
</span>
<span style="margin-left: 10px;">
	<%= link_to "Go To Item Type", inventory_item_type_path(@item.item_type_id.to_s) %>
</span>