 <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Total Tests</th>
              <th>Price</th>
              <th>Total Requirements</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<% @reports.each do |report| %>
        	<% @report = report %>
        	<%= render :partial => "/reports/show" %>
        	<% end %>
        </tbody>
</table>
