<div class="section">
  <h5>Order Summary</h5>
  <table>
          
          <thead>
            <tr>
                <th>Order Name</th>
                <th>Reports</th>
                <th>Tubes</th>
                <th>Options</th>
            </tr>
          </thead>

          <tbody>
          	<%= render :partial => "show" %>
          </tbody>

  </table>
 
  <%= render :partial => "orders/account_statement" %>

  <!-- okay so now in the item requirements, wse have to see, -->
  <%= render :partial => "/orders/show_item_requirements.html.erb" %>
 
</div>
