 <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Total Tests</th>
              <th>Price</th>
              <th>Total Requirements</th>
              <th>Patient</th>
              <th>Options</th>
          </tr>
        </thead>

        <!-- if it has only one test -->
        <!-- whether the value has come -->
        <!-- can we do a collapsible somehow -->
        <!-- all values have reached -->
        <!-- repeat is requested -->
        <!-- invalidate -->
        <!-- each report has a status -->
        <!-- it shows the next pending status -->
        <!-- it shows the values -->
        <!-- so let me embed them -->
        <!-- it shows if a test is running -->
        <!-- it shows if any test has been requested again -->
        <!-- but that will add to some statuses -->
        <!-- can it be verified or not ? -->
        <!-- a repeat was asked -->
        <!-- if that is not yet done -->
        <!-- so whether any statuses, which give the value  are pending -->
        <!-- if you verify something, does it get verified ? -->
        <!-- if its abnormal, you have to do something to show you're not
          just fucking around -->
        <!-- you have to write a comment in the range -->
        <!-- so range should have something called abnormal -->
        <!-- so show whether any reportables are pending -->
        <!-- show the vlaue of the individual test if there is only one -->
        <!-- can you verify from this screen ? -->
        <!-- do individual values have to be verified individually -->



        <tbody>
        	<% @reports.each do |report| %>
        	<% @report = report %>
        	<%= render :partial => "/reports/show" %>
        	<% end %>
        </tbody>
</table>

<!-- we show only whatever is important out of the report -->
<!-- like last performed status, next, etc -->
