<div id="template_reports_modal" class="modal">
	<div class="modal-content">
	  <h4>Tick Applicable Reports for this status</h4>
	  <div id="template_reports">
	  	
	  </div>
	</div>
	<div class="modal-footer">
	</div>
</div>