<table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <% @item_groups.each do |nr| %>
        	 <% @item_group = nr %>
           <%= render :partial => "show" %>
          <% end %>
        </tbody>
</table>
