<!-- remove range -->
<span>
	<%= link_to "Delete", item_group_path(@item_group.id.to_s), :method => :delete %>
</span>

<!-- edit range -->
<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_item_group_path(@item_group.id.to_s) %>
</span>