<table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "item_groups/show" %>
        </tbody>
</table>

<h6>Component Items</h6>
<% @items = @item_group.items %>
<%= render :partial => "/items/index" %>