<% tags_array = [] %>
<% if local_assigns[:tags] %>
  <%= puts "tags are defined" %>
  <% tags_array = tags %>
<% else %>
  <%= puts "tags are not defined" %>
  <% tags_array = @tags %>
<% end %>
<table>
        <thead>
          <tr>
              <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <% tags_array.each do |nr| %>
        	 <% @tag = nr %>
           <%= render :partial => "show" %>
          <% end %>
        </tbody>
</table>
