<table>
        <thead>
          <tr>
              <th>Full Name</th>
              <th>Date of Birth</th>
              <th>Age</th>
              <th>Sex</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Alert Information</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
        	 <% @patient = patient %>
           <%= render :partial => "/patients/show" %>
          <% end %>
        </tbody>
</table>