<span><%= link_to "Add New Order", new_order_path(order: {:patient_id => @patient.id.to_s}) %></span>
<span style="margin-left: 10px;"><%= link_to "Add Tests to Existing Order", orders_path(order: {:patient_id => @patient.id.to_s})%></span>
<span style="margin-left: 10px;"><%= link_to "Edit Patient Details", edit_patient_path(@patient.id.to_s) %></span>
