<div class="card">
	<div class="card-content">
		<div class="card-title">
			<%= @organization_member.organization_id.to_s %>
		</div>
		<br>
		Your Role: <%= @organization_member.employee_role_id.to_s %>
		<br>
		Membership status: <%= @organization_member.membership_status %>
	</div>
</div>