<table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Item Type</th>
              <th>Location</th>
              <th>Filled Amount</th>
              <th>Expiry Date</th>
              <th>Expiry Date of Contents</th>
              <th>Barcode</th>
              <th>Images</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |nr| %>
        	 <% @item = nr %>
           <%= render :partial => "/items/show" %>
          <% end %>
        </tbody>
</table>
