<table>
        <thead>
          <tr>
              <th>Test Id</th>
              <th>Test Name</th>
              <th>Min Age</th>
              <th>Max Age</th>
              <th>Sex</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "show" %>
        </tbody>
</table>
