<!-- remove range -->
<span>
	<%= link_to "Delete", credential_path(@credential.id.to_s), :method => :delete %>
</span>
<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_credential_path(@credential.id.to_s) %>
</span>
