<div class="card">
	<div class="card-content">
		<div class="card-title">
			Credential Details
		</div>
		<div class="card">
			<div class="card-content">
				<div class="card-title">
					Qualifications					
				</div>
				<% @credential.qualifications.each do |q| %>
					<div><%= q %></div>
				<% end %>
			</div>
		</div>
		<!-- okay so it uploads the signature -->
		<!-- so show the image here -->
		<div class="card">
			<div class="card-content">
				<div class="card-title">
					Registration Number					
				</div>
				<div><%= @credential.registration_number %></div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<div class="card-title">
					Signature
				</div>
				<% @images = @credential.images %>
				<%= render :partial => "/images/index" %>
			</div>
		</div>
	</div>
	<div class="card-action">
		<%= render :partial => "/credentials/options" %>
	</div>
</div>
