<table>
        <thead>
          <tr>
              <th>Comment Id</th>
              <th>Transaction Id</th>
              <th>Comment Text</th>
              <th>Comment By</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<%= render :partial => "/inventory/transactions/show" %>
        </tbody>
</table>
