<h6>If you are a sub-organization/branch, enter the name of the parent organization here.</h6>
<%= f.text_field :parent_id, :data => {:autocomplete_type => "organizations" } %>
<%= f.label :parent_id %>