<h5><%= @report.name %></h5>
<div class="divider"></div>

<table class="striped">
<%= render :partial => "/diagnostics/tests/pdf/show_table_headers" %>
	<tbody>
		<% @report.tests.each do |test| %>
			<% @test = test %>
			<%= render :partial => "/diagnostics/tests/pdf/show_table_row" %>
		<% end %>
	</tbody>
</table>