<span>
	<%= link_to "Add New Range", new_normal_range_path(:normal_range => {:test_id => @test.id.to_s}) %>
</span>

<span>
	<%= link_to "Delete", new_normal_range_path(:test_id => @test.id.to_s) %>
</span>