<span>
	<%= link_to "Edit", edit_test_path(@test.id.to_s) %>
</span>
<% if @test.report_id %>
	<%= link_to "Remove Test From Report", report_path({id: @test.report_id, report: {test_id_action: "remove", test_id: @test.id.to_s}}), :method => :put %>
<% end %>