<div class="row" style="margin-bottom:1.4rem; margin-top:1.4rem">
	<a class='dropdown-trigger' href='#' data-target='create_dropdown'>Options</a>
    <ul id='create_dropdown' class='dropdown-content'>  
      <li><%= link_to "Create Organization", new_organization_path %></li>
      <li><%= link_to "Create Patient", new_patient_path %></li>
    </ul>
</div>