<div class="row center" style="margin-bottom:1.4rem; margin-top:1.4rem">
	<% if defined? @organization %>
	<% else %>
		<%= link_to "Create Your Lab!", new_organization_path(:organization => {:role => "lab"}), :class => "waves-effect waves-light btn-large" %>
	<% end %>
	<!-- so here we say create your lab -->
</div>