 <table>
        <thead>
          <tr>
              <th>Name</th>
              <% if !@report.is_template_report? %>
                  <th>Patient</th>
                  <th>Alloted To</th>
                  <th>Current Step</th>
                  <th>Remaining Steps</th>
                  <th>Result</th>
                  <th>Normal Range</th>
              <% end %>
              <% if @report.is_template_report? %>
                  <th>Total Tests</th>
                  <th>Price</th>
                  <th>Total Requirements</th>
                <% end %>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
        	<% @reports.each do |report| %>
        	<% @report = report %>
        	<%= render :partial => "/reports/show" %>
        	<% end %>
        </tbody>
</table>
