<% payments_array = [] %>
<% if local_assigns[:payments] %>
  <%= puts "payments are defined" %>
  <% payments_array = payments %>
<% else %>
  <%= puts "payments are not defined" %>
  <% payments_array = @payments %>
<% end %>
<table>
  <thead>
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Options</th>
    </tr>
  </thead>
  <tbody>
  	<% payments_array.each do |payment| %>
  	<% @payment = payment %>
  	<%= render :partial => "/business/payments/show" %>
  	<% end %>
  </tbody>
</table>