<div class="card">
	<div class="card-content">
		<div class="card-title">
			Oops! There was a problem. Your order needs a patient!
		</div>
		Please choose a patient by searching in the search bar above, or <%= link_to "Create A New Patient", new_patient_path %>, to proceed.
	</div>
</div>