<div class="section page_content">
	<%= render :partial => "shared/errors", locals: {model: @order} %>

	<% @patient = @order.patient %>
	
	<%= render :partial => "/patients/show" %>	
	
	<!-- report will be searched -->
	<!-- of your own organization, or any public report -->

</div>