 <table>
        <thead>
          <tr>
                <th>Created On</th>
                <th>Order Name</th>
                <th>Reports</th>
                <th>Consumables</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
        	<% @orders.each do |order| %>
        	<% @order = order %>
        	<%= render :partial => "/business/orders/show" %>
        	<% end %>
        </tbody>
</table>
