<span>
	<%= link_to "Delete", inventory_item_group_path(@item_group.id.to_s), :method => :delete %>
</span>

<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_inventory_item_group_path(@item_group.id.to_s) %>
</span>


<span style="margin-left: 10px;">
	<%= link_to "Order", new_inventory_transaction_path(transaction: {supplier_item_group_id: @item_group.id.to_s, supplier_id: @item_group.supplier_id}) %>
</span>


<%= render :partial => "/inventory/item_transfers/item_transfer_verbs", locals: {model: @item_group} %>
