<span>
	<%= link_to "Delete", inventory_item_group_path(@item_group.id.to_s), :method => :delete %>
</span>

<!-- edit range -->
<!-- when we go to comments index, we want it filtered by transaction id -->
<span style="margin-left: 10px;">
	<%= link_to "Edit", edit_inventory_item_group_path(@item_group.id.to_s) %>
</span>