<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pathofast - Lab Reports in 30 mins</h5>
        <p class="grey-text text-lighten-4">2nd Floor, Manisha Terrace, Moledina Road, Camp - 411001, Pune, Maharashtra , India.</p>
        <p class="grey-text text-lighten-4">
        <div>+9102026134441 | +9102026138558 | +9102026137096</div>
        <div class="grey-text text-lighten-4 fs-12">
          Download the Android App
        </div>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect With Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Pathofast is a registered trademark
    <a class="grey-text text-lighten-4 fs-12" href="#!"><sup>TM</sup></a>
    </div>
  </div>
</footer>